{% load static %}
<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="" />
    <meta name="description" content="" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" /> -->
    <title>{{ news.title }}</title>
    <!-- Main Theme -->
    <link rel="stylesheet" href={%static 'css/detail.css'%} />

    <!-- Font -->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_n5vylbuqe61or.css" />
  </head>
<body>


<!--===== Full Screen BG =====-->
<div class="full-pic"></div>


<!--===== Begin Header =====-->
<header class="header">
  <div class="fixed-head" style="position: fixed; width: 100%; background-color: #65b2f1; -webkit-transform: translateZ(0);">
    <div class="wrap1000 head-wrap">

      <div class="logo">
        <a href="{% url 'blog:start' %}">
            新闻媒体-发布 {{ time_now }}
        </a>
      </div>


      <!--div class="search">
        <form action="search.html" method="get" target="_blank">
          <input name="kw" placeholder="搜索新闻" class="search-inp" type="text" maxlength="10" />
          <input id="search-submit-btn" type="submit" style="display: none;" />
          <label for="search-submit-btn">
            <i class="iconfont icon-search"></i>
          </label>
        </form>
      </div-->

    </div><!-- /.wrap1000 -->
  </div>
</header>
<!--===== header End =====-->



<!--===== Begin Main =====-->
<section class="main">
  <div class="main-wrap wrap1000">
    <div class="hot-section">


      <div class="hot-content">

        <div class="book-avatar">
          <img src="img/supperstart.jpg" alt="" />
        </div>

        <div class="book-detail">
          <h1>
            <em class="mr10">我是大明星</em>
            <span>
              <a href="javascript: void(0);">张玉</a>
               著
            </span>
          </h1>

          <p class="book-tag">
            <span class="now-book"><i class="mr10 iconfont icon-dushi"></i>现代 / 都市</span>
            <span class="through-book">穿越</span>
          </p>
          <p class="description">
            天降神物！异血附体！群仙惊惧！万魔退避！一名从东洲大陆走出的少年。一具生死相依的红粉骷髅。一个立志成为至强者的故事。一段叱咤星河，大闹三界的传说。
          </p>
          <a class="now-read btn" href="chapter.html">立即阅读</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--===== Main End =====-->



<!--===== Begin Footer =====-->
<footer class="footer">

  <div class="wrap1000 footer-wrap">
    <div class="logo-footer">
      <a href="detail.html">
        <img src={%static 'img/footer_logo.png'%} alt="" width="55" height="50" />
        <span class="footer-txt">大河报新闻发布</span>
      </a>
      <span class="footer-font">
        DaHeBao Python Scrapy&Django
      </span>
    </div>
    <div class="copy-right">
      <p>
        本站新闻均来源于大河报网站,仅供技术学习和交流使用,请尊重原创内容切勿用商业用途,如有侵权则立即删除。
      </p>
      <p class="">
        Copy From ©<a href=" http://newpaper.dahe.cn/dhb/html/2016-11/30/node_897.htm">大河报--电子版</a>
      </p>
    </div>
  </div>
</footer>
<!--===== Footer End =====-->



<!-- Main Plugin -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src={% static 'js/index.js'%}></script>

</body>
</html>