<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VONHEHE导航网</title>
    <link rel="icon" href="/static/images/06.png">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/8.4/styles/monokai_sublime.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <!--script>
    function openmydoc(path)
    {
    var doc=new ActiveXObject("Word.Application");
    doc.visible=true;
    doc.Documents.Open(path);
    }
    </script><!--想在线实现阅读doc文件来着，可惜用这种方法打不开，继续研究》_《-->

    <header class="jumbotron">
        <img class="hidden" src="/static/img/bd.png" width="800" height="600">
        <h1><img class="logo" src="/static/images/logo.png"></h1>
        <p class="lead">少而好学，如日出之阳；壮而好学，如日出之光；老而好学，如炳烛之明。</p>
        <p><a class="btn btn-lg btn-default btn-getting-started" href="http://vonhehe.pythonanywhere.com/start/" role="button">开始使用</a>
        </p>
    </header>

    <main class="benefits container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h2><a href="http://www.jianshu.com/u/595d283ce1c0">学习记录</a></h2>
                <p>学习pyhon、linux等的过程中，遇到的一些问题和解决的方法记录在简书上。</p>
            </div>
            <div class="col-md-6">
                <h2><a href="https://github.com/vonhehe/">github</a></h2>
                <p>参加的一些项目记录，新闻媒体的爬取，操作mysql库取出内容并使用wordcloud展示，django开发web（此站）等</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2><a href="http://vonhehe.pythonanywhere.com/love/">表白一下</a></h2>
                <p>感谢莎莎一直以来对我的支持。</p>
            </div>
            <div class="col-md-6">
                <h2><a href="/static/Von_Resume.doc">打个广告</a></h2>
                <p>个人简历φ(>ω<*) 求收留</p>
            </div>
        </div>
    </main>

    <!-- Site footer -->
    <footer class="footer">
    <!--div id="footer" style="padding:100px;clear:both;text-align:center;"-->
    <img src="/static/images/2weima.png" height="80" width="80" alt="网页二维码" ><br>
    <code>手机扫码使用</code>
    <b><p>von © vonhehe.pythonpyanywhere.com</p></b>
    </footer>


</body>
</html>
