<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="Content-Type" content="text/html";charset=UTF-8">
<style type="text/css">
ul{width:100px;height:80px;overflow:hidden;list-style:none;}
ul li{float:right;display:inline;margin-left:4px;width:14px;height:100px;font-size:14px;word-wrap:break-word;word-break:nomal;}
</style>-->
    <title>正经网站</title>
</head>
<body style="background-color:#b697d0;">
<!--<div style="opacity:0.5;position:absolute;left:50px;width:300px;height:150px;background-color:#40B3DF;"></div>-->
<div style="font-family:verdana;padding:250px;border-radius:10px;border:10px solid #ffffff;">
<div style="opacity:0.3;position:absolute;right:120px;width:100px;height:200px;background-color:#8AC007"></div>
<h3 style="font-size: 3em;text-align:right;">莎</h3>
    <h2 style="font-size: 3em;text-align:right;">莎</h2>
<div style="letter-spacing:12px;">詩經·周南·桃夭</div>
<div style="color:#000000;">酌色
<span style="background-color:#B4009E;color:#ffffff;"> 紅藤</span>
</div>
<div style="color:#000000;letter-spacing:8px;">宜室宜家...</div>
<br/>
<h1 style="font-size:1em;text-shadow:1px 2px #7f5094;right:120px;letter-spacing:12px;writing-mode:lr-tb;">
        {% for i in string %}
        {{ i }}<br/>
            <br/>
        {% endfor %}
    </h1>
<div id="footer" style="text-align:center;">
版权 © 爱莎のvonhehe</div>
</div>
</body>
</html>