{% load static %}
<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="" />
    <meta name="description" content="" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" /> -->
    <title>更多新闻</title>
    <!-- Main Theme -->
    <link rel="stylesheet" href={%static 'css/more.css'%} />

    <!-- Font -->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_n5vylbuqe61or.css" />
  </head>
<body>


<!--===== Full Screen BG =====-->
<div class="full-pic"></div>



<!--===== Begin Header =====-->
<header class="header">
  <div class="fixed-head" style="position: fixed; width: 100%; background-color: #65b2f1; -webkit-transform: translateZ(0);">
    <div class="wrap1000 head-wrap">

      <div class="logo">
        <a href="start.html">
          新闻媒体-发布  {{ time_now }}
        </a>
      </div>

      <div class="search">
        <form action="search.html" method="get" target="_blank">
          <input name="kw" placeholder="搜索新闻" class="search-inp" type="text" maxlength="10" />
          <input id="search-submit-btn" type="submit" style="display: none;" />
          <label for="search-submit-btn">
            <i class="iconfont icon-search"></i>
          </label>
        </form>
      </div>

    </div><!-- /.wrap1000 -->
  </div>
</header>
<!--===== header End =====-->



<!--===== Begin Main =====-->
<section class="main">
  <div class="main-wrap wrap1000">
    <div class="hot-section">

      <!-- <div class="hot-shadow">
        <div class="hot-title">玄幻</div>
      </div> -->

      <div class="figure"></div>

      <div class="hot-content">

        <!-- xinwen-->
        <h1 class="xunhuan-txt">今日新闻一览&nbsp&nbsp&nbsp {{ time_now }}</h1>

        <div class="xuanhuan">
          <div class="wrap890 xuanhuan-wrap">

            <dl class="book-list">

                {% for new in news %}
              <dd class="book">
                <div class="book-border-bottom"></div>
                <div class="book-wrap">
                  <a class="cover" href="detail.html"><img src={{ new.imgsrc }} alt="" onerror="javascript:src='/static/img/default.jpg'" width="102" height="136" /></a>
                  <div class="book-presentation">
                    <h2><a href="detail.html">{{ new.title }}</a></h2>
                    <p class="book-info">
                      <i></i>
                      <span>{{ new.banming }}</span>
                      <span class="info-txt">{{ new.xuhao }}</span>
                      <span>{{ new.body|length }}字</span>
                    </p>
                    <p class="book-author">
                      <a href="javascript: void(0);">作者:
                        <span>{{ new.editor }}</span>
                      </a>
                    </p>
                    <p class="desc">
                      {{ new.body|truncatechars:"75" }}
                    </p>
                  </div>
                </div>
              </dd>
                {% endfor %}

            </dl>
          </div>
        </div>

          < pagin >
        <div class="pagin">
          <ul class="page-list">
            <li><a href="javascript: void(0);">&lt;&lt; 首页</a></li>
            <li><a href="javascript: void(0);">&lt;</a></li>
            <li class="page"><a class="on"href="javascript: void(0);">1</a></li>
            <li class="page"><a href="javascript: void(0);">2</a></li>
            <li class="page"><a href="javascript: void(0);">3</a></li>
            <li class="page"><a href="javascript: void(0);">4</a></li>
            <li class="page"><a href="javascript: void(0);">5</a></li>
            <li class="page"><a href="javascript: void(0);">6</a></li>
            <li class="page"><a href="javascript: void(0);">7</a></li>
            <li class="page"><a href="javascript: void(0);">8</a></li>
            <li class="page"><a href="javascript: void(0);">9</a></li>
            <li><a href="javascript: void(0);">&gt;</a></li>
            <li><a href="javascript: void(0);">末页 &gt;&gt;</a></li>
          </ul>
          <form id="page-form" action="" method="get">
            <input type="text" name="page" value="6" />
            
            <label for="page-submit">
              <span class="page-submit">GO</span>
            </label>
            <input type="submit" id="page-submit" style="display: none;" />
          </form>
        </div-->
      </div>
    </div>
  </div>
</section>

<!--分页器-->
<!--div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ news.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ news.number }} of {{ news.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ news.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<!--===== Main End =====-->



<!--===== Begin Footer =====-->
<footer class="footer">

  <div class="wrap1000 footer-wrap">
    <div class="logo-footer">
      <a href="detail.html">
        <img src={%static 'img/footer_logo.png'%} alt="" width="55" height="50" />
        <span class="footer-txt">大河报新闻发布</span>
      </a>
      <span class="footer-font">
        DaHeBao Python Scrapy&Django
      </span>
    </div>
    <div class="copy-right">
      <p>
        本站新闻均来源于大河报网站,仅供技术学习和交流使用,请尊重原创内容切勿用商业用途,如有侵权则立即删除。
      </p>
      <p class="">
        Copy From ©<a href=" http://newpaper.dahe.cn/dhb/html/2016-11/30/node_897.htm">大河报--电子版</a>
      </p>
    </div>
  </div>
</footer>
<!--===== Footer End =====-->



<!-- Main Plugin -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src={% static 'js/index.js'%}></script>

</body>
</html>               