{% load static %}
<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="" />
    <meta name="description" content="" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" /> -->
    <title>更多新闻</title>
    <!-- Main Theme -->
    <link rel="stylesheet" href={%static 'css/more.css'%} />

    <!-- Font -->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_n5vylbuqe61or.css" />
  </head>
<body>


<!--===== Full Screen BG =====-->
<div class="full-pic"></div>



<!--===== Begin Header =====-->
<header class="header">
  <div class="fixed-head" style="position: fixed; width: 100%; background-color: #65b2f1; -webkit-transform: translateZ(0);">
    <div class="wrap1000 head-wrap">

      <div class="logo">
        <a href="{% url 'blog:start' %}">
          新闻媒体-发布  {{ time_now }}
        </a>
      </div>

      <!--div class="search">
        <form action="search.html" method="get" target="_blank">
          <input name="kw" placeholder="搜索新闻" class="search-inp" type="text" maxlength="10" />
          <input id="search-submit-btn" type="submit" style="display: none;" />
          <label for="search-submit-btn">
            <i class="iconfont icon-search"></i>
          </label>
        </form>
      </div-->

    </div><!-- /.wrap1000 -->
  </div>
</header>
<!--===== header End =====-->



<!--===== Begin Main =====-->
<section class="main">
  <div class="main-wrap wrap1000">
    <div class="hot-section">
      <div class="figure"></div>
      <div class="hot-content">

        <!-- xinwen-->
        <h1 class="xunhuan-txt">今日新闻一览&nbsp&nbsp&nbsp {{ time_now }}</h1>
        <div class="xuanhuan">
          <div class="wrap890 xuanhuan-wrap">
            <dl class="book-list">

                {% for new in news %}
              <dd class="book">
                <div class="book-border-bottom"></div>
                <div class="book-wrap">
                  <a class="cover" href="detail.html"><img src={{ new.imgsrc }} alt="" onerror="javascript:src='/static/img/default.jpg'" width="102" height="136" /></a>
                  <div class="book-presentation">
                    <h2><a href="detail.html">{{ new.title }}</a></h2>
                    <p class="book-info">
                      <i></i>
                      <span>{{ new.banming }}</span>
                      <span class="info-txt">{{ new.xuhao }}</span>
                      <span>{{ new.body|length }}字</span>
                    </p>
                    <p class="book-author">
                      <a href="javascript: void(0);">作者:
                        <span>{{ new.editor }}</span>
                      </a>
                    </p>
                    <p class="desc">
                      {{ new.body|truncatechars:"75" }}
                    </p>
                  </div>
                </div>
              </dd>
                {% endfor %}

            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--分页器-->
<div style="text-align: center">
  <!-- 如果当前页还有上一页，显示一个上一页的按钮 -->
  {% if news.has_previous %}
    <a href="?page={{ news.previous_page_number }}">上一页</a>
  {% endif %}
  <!-- 显示当前页面信息 -->
  <span style="color: black">第 {{ news.number }} 页 / 共 {{ news.paginator.num_pages }} 页</span>
  <!-- 如果当前页还有下一页，显示一个下一页的按钮 -->
  {% if news.has_next %}
    <a href="?page={{ news.next_page_number }}">下一页</a>
  {% endif %}
</div>

<!--===== Main End =====-->



<!--===== Begin Footer =====-->
<footer class="footer">

  <div class="wrap1000 footer-wrap">
    <div class="logo-footer">
      <a href="detail.html">
        <img src={%static 'img/footer_logo.png'%} alt="" width="55" height="50" />
        <span class="footer-txt">大河报新闻发布</span>
      </a>
      <span class="footer-font">
        DaHeBao Python Scrapy&Django
      </span>
    </div>
    <div class="copy-right">
      <p>
        本站新闻均来源于大河报网站,仅供技术学习和交流使用,请尊重原创内容切勿用商业用途,如有侵权则立即删除。
      </p>
      <p class="">
        Copy From ©<a href=" http://newpaper.dahe.cn/dhb/html/2016-11/30/node_897.htm">大河报--电子版</a>
      </p>
    </div>
  </div>
</footer>
<!--===== Footer End =====-->



<!-- Main Plugin -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src={% static 'js/index.js'%}></script>

</body>
</html>               