<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正在制作</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/8.4/styles/monokai_sublime.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div style="padding:250px;border-radius:10px;border:10px solid #ffffff;" >
        <h2><p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp参加的一些项目记录，爬取媒体、词云展示、web发布，之后会将此功能附在“开始使用”，实现一键爬取当天新闻，并发布。
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp目前正在开发中，敬请期待。。。</p></h2>>
    </div>

</body>
</html>